<%-include ('./partials/header')%>
<main class = 'container'>
<div class="d-flex justify-content-center">
<h1 class="p-3 mb-2 bg-danger text-white"> Welcome to CodeCore Cohort Page</h1>
</div>
<img src='../images/cohort_index.png' class="img-fluid" alt="original_starter">












</main>




<%-include ('./partials/footer')%>