<div class ="d-flex flex-row-reverse bd-highlight">
    <a class="navbar-brand" href="/cohorts/new">New Cohort</a>
    <br/>
    <a class="navbar-brand" href="/cohorts">Cohorts</a>
    <br/>
    <a class="navbar-brand" href="/">Home</a>
</div>
